/proyectosNetBeans/JavaApplication2/nbproject/private/
/proyectosNetBeans/JavaApplication2/build/
/proyectosNetBeans/PruebaPractica2/nbproject/private/
/proyectosNetBeans/PruebaPractica2/build/
/proyectosNetBeans/bucles_while/nbproject/private/
/proyectosNetBeans/bucles_while/build/
/proyectosNetBeans/examen_condicionales/nbproject/private/
/proyectosNetBeans/examen_condicionales/build/
/proyectosNetBeans/Funciones/nbproject/private/
/proyectosNetBeans/Funciones/build/
