# /proyectosNetBeans/*/nbproject/private/
# build/
# build.xml
# manifest.mf
# build-impl.xml
# genfiles.properties
# project.properties
# project.xml
/proyectosNetBeans/Strings/nbproject/private/
/proyectosNetBeans/Strings/build/
/proyectosNetBeans/POO/nbproject/private/
/proyectosNetBeans/POO/build/
.idea
*.iml
out/
/poo
/proyectosNetBeans/ConcesionarioScarlatti/nbproject/private/
/proyectosNetBeans/ConcesionarioScarlatti/build/
/proyectosNetBeans/ConcesionarioScarlattiNoave/nbproject/private/
/proyectosNetBeans/ConcesionarioScarlattiNoave/build/
